<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="./css/style.css">
<head>
    <title>Lista Clientes</title>
</head>
<body>
    <table>
    	<thead>
        	<tr>
            	<td><b>ID</b></td>
            	<td><b>NOME</b> </td>
				<td><b>EMAIL</b> </td>
            	<td><b>SENHA</b> </td>
        	</tr>
    	</thead>
    	<tbody>
        	<tr th:each="cli : ${lista}">
            	<td th:text="${cli.id}"></td>
            	<td th:text="${cli.nome}"></td>
            	<td th:text="${cli.email}"></td>
				<td th:text="${cli.senha}"></td>
				<td><a th:href="@{/editar/{id}(id=${cli.id})}">Editar</a> </td>
				<td>
					<form action="#" th:action="@{/deletar/{id}(id=${cli.id})}" th:object="${cli}" method="post">
						<button type="submit" value="deletar">Delete</button>
					</form>
				</td>
       		</tr>
     	</tbody>
    </table>
</body>
</html>